{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - Compte utilisateur{% endblock %}

{% block body %}
<div class="container">
    <div class="bg-light p-2">
        <h2 class="text-center">Votre espace</h2>
        <p> 
            <h4 class="text-center">Prêt pour tout manager?</h4>
            C'est ici que vous pourrez retrouver toutes les listes que vous avez créées. Vous pourrez les consulter ou en créer de nouvelles.
        </p>
    </div>

    {% if app.user.santaLists|length > 0 %}
        <div class="container row justify-content-around  mt-3">
            
            {% for list in app.user.santaLists %}
            <div class="col-12 col-md-7 col-xl-5 bg-light mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">{{ list.name }}</h3>
                        <p>Date de l'évènement : {{ list.eventDate|date('d/m/Y') }}</p>
                        {% if list.description %}
                            <p class="text-justify">{{ list.description }}</p>
                        {% else %}
                            <a href="#">Ajouter une description</a>
                        {% endif %}
                        <p>{{ list.santas|length }} participants</p>
                        <p>
                            <a href="{{ path('account_list_details', {'id': list.id}) }}">Voir les détails</a>
                        </p>
                        {% if list.generated == false %}
                            {# <a href="{{ path('santa_list_generate', {'id': list.id}) }}">Générer les santas</a> #}
                            lien de génération de liste
                        {% else %}
                            <p class="alert alert-success text-center">Cette liste est générée</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
                
        </div>
        <div class="mt-5">
            <a href={{ path('create_list') }} class="btn btn-success">Créer une nouvelle liste</a>
        </div>
    {% else %}
        <div class="container bg-light">
            <p>Vous n'avez pas encore de liste disponible</p>
            <a href={{ path('create_list') }} >Créer une liste</a>
        </div>
    {% endif %}
</div>

{% endblock %}
